* {
    background-color: rgb(32, 31, 49);
    font-family: "Poppins", Arial;
    color: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation1 {
    margin-bottom: 25px;
    padding-bottom: 25px;
    display:block;
}

.search {
    background-image: url(https://hianime.to/images/anw-min.webp?v=0.1);

}