* {
    background-color: rgb(32, 31, 49);
    font-family: "Poppins", Arial;
    color: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation1 {
    display:flex;
    margin-bottom: 25px;
    padding-bottom: 25px;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}

nav{
    position: relative;
    width: 524px;
    height: 50px;
    background: #222;
    border-radious: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    position: relative;
    display: inline-block;
    fontsize: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span {
    position: absolute;
    top:0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radious: 8px;
    transition: 0.5s;
}

nav a:nth-child(1):hover~span
{
    left: 0;
}
nav a:nth-child(2):hover~span
{
    left: 95px;
}
.search {
    background-image: url(https://hianime.to/images/anw-min.webp?v=0.1);


}
